#bodyone{
    margin: 0px;
    background-image: url("movieback.jpg");
    width: 100vw;
    height: 100vh;
}

#bodytwo{
    background-repeat: none;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("oblivionback.jpg");
    background-position: center;
    background-size: 150%;
}

#bodythree{
    background-repeat: none;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("skyrimback.jpg");
    background-position: center;
    background-size: 150%;
}

#bodyfour{
    background-repeat: none;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("falloutterminal.jpg");
    background-position: center;
    background-size: 150%;
}

#bodyfive{
    background-repeat: none;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("falloutterminal.jpg");
    background-position: center;
    background-size: 150%;
}
.navbar #title-text{
    text-indent: 5px;
}

.container{
    height: 160vh;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    
}


.navbar{
    height: 240px;
    background:rgb(7, 7, 7);
    background-size: 300% 100%;
    overflow: hidden;
    padding: 5px 5px;
    border-bottom: 1px solid rgb(48, 48, 48);
    background-image: url('WebsiteHeader.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

.sec-nav{
    background: rgb(20, 20, 20);
    width: 100%;
    overflow: hidden;
    padding: 5px 5px;
    top:0;
    bottom: 0;
    text-align: center;
    box-shadow: 3px 3px 7px rgb(20, 20, 20);

}

.sec-nav a{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    
}

.reviewtype{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    
}

.reviewtype:hover{
    color: rgb(255, 77, 174);
    cursor: pointer;
}

.sec-nav a:hover{
    color: rgb(255, 77, 174);
    cursor: pointer;
}


.welcome{
    width: 65%;
    height: 500px;
    margin: 0 auto;
    color: black;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    padding: 0px 30px;
    border-radius: 20px;
}


hr{
    display: inline-block;
    height: 3px;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}

@keyframes navbarGradient {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 50% 50%;
	}
	50% {
		background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 0%;
    }
}


.navbar a{ 
    float: left;
    font-size: 25px;
    color:white;
    text-decoration: none;
    min-width: 150px;
    padding-top: 17px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(8, 8, 8);
    color: white;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    background-size: 250% 100%;
    animation: navbarGradient 7s ease infinite;
    padding: 20px 5px;
    
 }


 .dmca-badge{
    position: static;
    left: 0;
    bottom: 0;
 }


 @font-face{
     font-family: "future";
     src: url("Outrun\ future\ Bold.otf");
 }



